.nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:space-between;
}

@media screen and (max-width: 1024px) {
    .nav{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        padding-left: 40px;
        padding-top: 16px;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: var(--dark-blue);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .nav[data-visible="true"] {
        display: block;
    }
  }