.lab__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--dark-blue);
    box-shadow: 0px 2.35349px 11.7674px rgba(1, 54, 157, 0.15);
    border-radius: 6px;
    transition: transform linear 0.3s;
}

.lab__card:hover {
    position: relative;
    transform: translate(0, -20px);
    background: #009FAC;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.lab__card:hover .lab__card-button{
    border-color: #FFFFFF;
}
